body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.info{
    position: relative;
    display: none;
    top: 550px;
    left: 50%;
    width: 40%;
    background-color: rgb(107, 144, 252);
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}


button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.accept-btn, .cancel-btn{
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
}

.accept-btn{
    background-color:  lime;
}

.cancel-btn{
    background-color: tomato;
}